
<div class="container">
  <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" routerLink="/" RouterLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user" RouterLinkActive="active">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/role" RouterLinkActive="active">Role</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" routerLink="/404" RouterLinkActive="active">404 Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" (click)="logOut()">LogOut</a>
      </li>
    </ul>
  <div class="jumbotron">
    <h1>WEBAPI CodeFirst</h1>
  </div>
  <router-outlet></router-outlet>
</div>