<div class="row">
  <div class="col-sm-6">
      <h3>{{formRole | uppercase}}</h3>
      <form #roleForm="ngForm" (ngSubmit)="onSubmit(roleForm)">
        <input type="hidden" name="ID" #ID="ngModel" [(ngModel)]="roleService.role.ID" />
        <div *ngIf="errorRoleName" class="alert alert-danger">{{errorRoleName}}</div>
        <div class="form-group">
          <label for="roledisplayname">Role Display Name <small class="text-danger">*</small></label>
          <input type="text" class="form-control" id="roledisplayname" name="roledisplayname" #roledisplayname="ngModel"  [(ngModel)]="roleService.role.RoleDisplayName" required autocomplete="false">
          
          <div *ngIf="roledisplayname.errors && (roledisplayname.dirty || roledisplayname.touched)" class="alert alert-danger">
              <div [hidden]="!roledisplayname.errors.required">Role Display Name is required.</div>
            </div>
        </div>

        <div class="form-group">
          <label for="rolename">Role Name <small class="text-danger">*</small></label>
          <input type="text" class="form-control" id="rolename" name="rolename" required #rolename="ngModel" [(ngModel)]="roleService.role.RoleName" autocomplete="false">
          <div *ngIf="rolename.errors && (rolename.dirty || rolename.touched)" class="alert alert-danger">
              <div [hidden]="!rolename.errors.required">Role Name is required.</div>
            </div>
        </div>

        <div class="form-group">
          <label for="">Result role:</label> {{diagnostic}}
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!roleForm.form.valid" [innerHTML]="nameSubmit"></button>
        <button type="button" class="btn btn-secondary" (click)="resetForm(roleForm)"><i class="fa fa-eraser"></i> Reset</button>

      </form>
      <br>
      <div class="form-group">
      <input [(ngModel)]="username" [placeholder]="phusername" name="username" class="form-control" required>
      <p>Hello {{username}}!</p>
      </div>

  </div>
  <div class="col-sm-6">
      <h3>
        {{inforRole | lowercase}}
      </h3>
      <input (keyup)="onKey($event)" [(ngModel)]="searchText" name="searchText" class="form-control" placeholder="search text goes here">
      <br>
      <table class="table table-sm table-hover">
          <tr>
              <td>Role Display Name</td>
              <td>Role Role</td>
              <td>
              </td>
            </tr>
        <tr *ngFor="let role of roleService.roles">
          <td>{{role.ID}} - {{role.RoleDisplayName}}</td>
          <td>{{role.RoleName}}</td>
          <td>
            <a class="btn" (click)="showForEdit(role)" title="Edit">
              <i class="fa fa-pencil-square-o"></i>
            </a>
            <a class="btn text-danger" (click)="onDelete(role.ID)" title="Delete">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
        </tr>
      </table>
      <ul>
          <li *ngFor="let c of characters">
            {{c}}
          </li>
        </ul>
  </div>
</div>


