﻿<div class="row">
    <div class="col-sm-3 row">
        <h2>All Users</h2>
        <ul id="users"></ul>
        <h3>Find User</h3>
        <input type="text" id="txtUserID" size="10" class="form-control" />
        <input type="button" id="btnFind" value="Find" onclick="return Find();" class="btn btn-primary" />
        <ul id="user" />
    </div>
    <div class="col-lg-3">
        <h2>Create</h2>
        <div>
            <label>Name</label>
            @Html.TextBox("Name", "", new { @class = "form-control" })
            @Html.Hidden("ID")
        </div>
        <div>
            <label>Phone</label>
            @Html.TextBox("Phone", "", new { @class = "form-control" })
        </div>
        <div>
            <label>Birthday</label>
            @Html.TextBox("Birthday", DateTime.Now.ToString("yyyy-MM-dd"), new { @class = "form-control datecontrol", @type = "date", placeholder = "", id = "Birthday" })
        </div>
        <div>
            <label>Email</label>
            @Html.TextBox("Email", "", new { @class = "form-control" })
        </div>
        <div>
            <label>UserName</label>
            @Html.TextBox("UserName", "", new { @class = "form-control" })
        </div>
        <div>
            <label>UserPassword</label>
            @Html.TextBox("UserPassword", "", new { @class = "form-control" })
        </div>
        <div>
            <label>Active</label>
            @Html.DropDownList("Active", new List<SelectListItem>
    {
        new SelectListItem {Text = "Admin", Value = "1", Selected = true},
        new SelectListItem {Text = "Editor", Value = "2"},
    }, "Select ...")
        </div>
        <div>
            <button id="btnAdd" onclick="return Add();">Add</button>
            <button id="btnEdit" onclick="return Edit();">Edit</button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <div class="col-sm-3">
        <h2>All Roles</h2>
        <ul id="roles"></ul>
        <h3>Find Role</h3>
        <input type="text" id="txtRoleID" size="10" class="form-control" />
        <input type="button" id="btnFindRole" value="FindRole" onclick="return FindRole();" class="btn btn-block" />
        <ul id="role" />
    </div>
    <div class="col-sm-3">
        <h2>Create</h2>
        <div>
            <label>RoleName</label>
            @Html.TextBox("RoleName", "", new { @class = "form-control" })
            @Html.Hidden("RoleID")
        </div>
        <div>
            <label>RoleDisplayName</label>
            @Html.TextBox("RoleDisplayName", "", new { @class = "form-control" })
        </div>
        <div>
            <button id="btnAddRole" onclick="return AddRole();">Add</button>
            <button id="btnEditRole" onclick="return EditRole();">Edit</button>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>

@section scripts{
    <script>
        //#region Handle User
        var uri = 'api/user';
        $(document).ready(function () {
            $("#btnEdit").prop('disabled', true);
            $("#btnEditRole").prop('disabled', true);
            loadUsers();
            loadRoles();
        });

        function loadUsers() {
            $.getJSON(uri)
            .done(function (data) {
                var list = "";
                $.each(data, function (key, item) {
                    list += "<li>" + formatItem(item) + "</li>"
                });
                $("#users").html(list);
            })
            .fail(function (jqXHR, textStatus, err) {
                $('#users').html('Error: ' + err);
            });
        }

        function formatItem(item) {
            return item.ID + " - " + item.Name + " - " + item.UserRoleID + "<a href='javascript:GetUpdate(" + item.ID + ")'>Edit</a> - <a href='javascript:Delete(" + item.ID + ")'>Delete</a>";
        }

        function Find() {
            var valID = $(txtUserID).val();
            if (!$.isNumeric(valID))
            {
                $('#user').html('Error: Valid a number value.');
                return;
            }
            $.getJSON(uri + "/" + valID)
            .done(function (data) {
                $("#user").html(formatItem(data));
            })
            .fail(function (jqXHR, textStatus, err) {
                $('#user').html('Error: ' + err);
            });
        }

        function Add() {
            debugger;
            var User = {
                "Name": $("#Name").val(),
                "Phone": $("#Phone").val(),
                "Birthday": $("#Birthday").val(),
                "Email": $("#Email").val(),
                "UserName": $("#UserName").val(),
                "UserPassword": $("#UserPassword").val(),
                "UserRoleID": $("#Active").val()
            };

            console.log(User);

            $.ajax({
                type: "POST",
                url: uri + '/add',
                data: JSON.stringify(User),
                contentType: "application/json;charset=utf-8",
                processData: true,
                success: function (data, status, xhr) {
                    alert("The result is : " + status);
                    loadUsers();
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }

        function Edit() {
            debugger;
            var User = {
                "ID": $("#ID").val(),
                "Name": $("#Name").val(),
                "Phone": $("#Phone").val(),
                "Birthday": $("#Birthday").val(),
                "Email": $("#Email").val(),
                "UserName": $("#UserName").val(),
                "UserPassword": $("#UserPassword").val(),
                "UserRoleID": $("#Active").val()
            };

            console.log(User);

            $.ajax({
                type: "PUT",
                url: uri + '/update',
                data: JSON.stringify(User),
                contentType: "application/json;charset=utf-8",
                processData: true,
                success: function (data, status, xhr) {
                    alert("The result is : " + status);
                    loadUsers();
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }

        function GetUpdate(valID) {
            $.getJSON(uri + "/" + valID)
            .done(function (data) {
                $("#ID").val(data.ID);
                $("#Name").val(data.Name);
                $("#Phone").val(data.Phone);
                //$("#Birthday").val(data.Birthday.getYear() + '-' + data.Birthday.getMonth() + '-' + data.Birthday.getDate());
                if (isNaN(data.Birthday)) {
                    $("#Birthday").val(data.Birthday.split('T')[0]);
                }
                $("#Email").val(data.Email);
                $("#UserName").val(data.UserName);
                $("#UserPassword").val(data.UserPassword);
                $("#Active").val(data.UserRoleID);
                $("#btnEdit").prop('disabled', false);
                $("#btnAdd").prop('disabled', true);
            })
            .fail(function (data) {
                alert("The result is : " + status);
            })
        }


        function Delete(valID) {
            var r = confirm("Are you sure!");
            if (r == true) {
                $.ajax({
                    type: "DELETE",
                    url: uri + '/delete/' + valID,
                    contentType: "application/json;charset=utf-8",
                    processData: true,
                    success: function (data, status, xhr) {
                        alert("The result is : " + status);
                        loadUsers();
                    },
                    error: function (xhr) {
                        alert(xhr.responseText);
                    }
                });
            }
        }
        //#endregion

        var uriRole = 'api/role';

        function loadRoles() {
            $.getJSON(uriRole)
            .done(function (data) {
                var list = "";
                $.each(data, function (key, item) {
                    list += "<li>" + formatItemRole(item) + "</li>"
                })
                $("#roles").html(list);
            })
            .fail(function (jqXHR, textStatus, err) {
                $('#role').html('Error: ' + err);
            })
        }

        function formatItemRole(item) {
            return item.ID + " - " + item.RoleName + " - " + item.RoleDisplayName + "<a href='javascript:GetUpdateRole(" + item.ID + ")'>Edit</a> - <a href='javascript:DeleteRole(" + item.ID + ")'>Delete</a>";
        }

        function FindRole() {
            var valID = $("#txtRoleID").val();
            if (!$.isNumeric(valID)) {
                $('#role').html('Error: Valid a number value.');
                return;
            }
            $.getJSON(uriRole + "/" + valID)
            .done(function (data) {
                $("#role").html(formatItemRole(data));
            })
            .fail(function (jqXHR, textStatus, err) {
                $('#role').html('Error: ' + err);
            })
        }

        function GetUpdateRole(valID) {
            $.getJSON(uriRole + "/" + valID)
            .done(function (data) {
                $("#RoleID").val(data.ID);
                $("#RoleName").val(data.RoleName);
                $("#RoleDisplayName").val(data.RoleDisplayName);
                $("#btnEditRole").prop('disabled', false);
                $("#btnAddRole").prop('disabled', true);
            })
            .fail(function (data) {
                alert("The result is : " + status);
            })
        }

        function AddRole() {
            var Role = {
                "RoleName": $("#RoleName").val(),
                "RoleDisplayName": $("#RoleDisplayName").val()
            };

            $.ajax({
                type: "POST",
                url: uriRole,
                data: JSON.stringify(Role),
                contentType: "application/json;charset=utf-8",
                processData: true,
                success: function (data, status, xhr) {
                    alert("The result is : " + status);
                    loadRoles();
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }

        function EditRole() {
            var Role = {
                "ID": $("#RoleID").val(),
                "RoleName": $("#RoleName").val(),
                "RoleDisplayName": $("#RoleDisplayName").val()
            };

            console.log(Role);

            $.ajax({
                type: "PUT",
                url: uriRole,
                data: JSON.stringify(Role),
                contentType: "application/json;charset=utf-8",
                processData: true,
                success: function (data, status, xhr) {
                    alert("The result is : " + status);
                    loadRoles();
                },
                error: function (xhr) {
                    alert(xhr.responseText);
                }
            });
        }

    </script>
}
