<div class="row">
  <div class="col-sm-6">
      <h3>{{inforUser | uppercase}}</h3>
    <table class="table">
      <tr>
        <td>
          ID
        </td>
        <td>
          Name
        </td>
        <td>
          Phone
        </td>
        <td>
          Role
        </td>
        <td></td>
      </tr>
      <tr *ngFor="let user of userService.users">
        <td>{{user.ID}}</td>
        <td>{{user.Name}}</td>
        <td>{{user.Phone}}</td>
        
        <td *ngFor="let role of roleService.roles | filter:user.UserRoleID ">{{role.RoleDisplayName}}</td>
        <td>
            <a class="btn" (click)="showForEdit(user)" title="Edit">
              <i class="fa fa-pencil-square-o"></i>
            </a>
            <a class="btn text-danger" (click)="onDelete(user.ID)" title="Delete">
              <i class="fa fa-trash-o"></i>
            </a>
          </td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6">
      <h3>{{formUser | uppercase}}</h3>
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <input type="hidden" name="ID" [(ngModel)]="userService.user.ID" />

        <div class="form-group">
          <div class="row">
            <div class="col-lg-3">
              <label for="name">Name <small class="text-danger">*</small></label>
            </div>
            <div class="col-lg-9">
              <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="userService.user.Name" required minlength="3" autocomplete="false">
              <div *ngIf="name.errors && (name.dirty || name.touched)" class="alert alert-danger">
                <div [hidden]="!name.errors.required">Name is required.</div>
                <div [hidden]="!name.errors.minlength">Name must be at least 3 characters long.</div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
            <div class="row"> 
            <div class="col-lg-3">
          <label for="phone">Phone <small class="text-danger">*</small></label>
        </div>
        <div class="col-lg-9">
          <input pattern="^[0-9]*$" required #phone="ngModel" type="text" class="form-control" id="phone" name="phone" [(ngModel)]="userService.user.Phone" autocomplete="false">
          <div *ngIf="phone.errors && (phone.dirty || phone.touched)" class="alert alert-danger">
              <div [hidden]="!phone.errors.required">Name is required.</div>
              <div [hidden]="!phone.errors.pattern">Not a valid number!</div>
            </div>
        </div>
      </div>
      </div>

        <div class="form-group">
            <div class="row">
            <div class="col-lg-3">
          <label for="email">E-mail <small class="text-danger">*</small></label>
        </div>
        <div class="col-lg-9">
          <input type="text" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #email="ngModel" required id="email" name="email" [(ngModel)]="userService.user.Email" autocomplete="false">
          <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
              <div [hidden]="!email.errors.required">E-mail is required.</div>
              <div [hidden]="!email.errors.pattern">Incorrect mail format!</div>
            </div>
        </div>
      </div>
      </div>

        <div class="form-group">
            <div class="row">
            <div class="col-lg-3">
          <label for="username">User Name <small class="text-danger">*</small></label>
        </div>
        <div class="col-lg-9">
          <input type="text" class="form-control" id="username" #username="ngModel" required minlength="3" name="username" [(ngModel)]="userService.user.UserName" autocomplete="false">
          <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
              <div [hidden]="!username.errors.required">UserName is required.</div>
              <div [hidden]="!username.errors.minlength">UserName must be at least 3 characters long.</div>
            </div>
        </div>
      </div>
      </div>

        <div class="form-group">
            <div class="row">
            <div class="col-lg-3">
          <label for="userpassword">Password <small class="text-danger">*</small></label>
        </div>
        <div class="col-lg-9">
          <input type="password" #password="ngModel" required minlength="3" class="form-control" id="userpassword" name="userpassword" [(ngModel)]="userService.user.UserPassword" autocomplete="false">
          <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
              <div [hidden]="!password.errors.required">Password is required.</div>
              <div [hidden]="!password.errors.minlength">Password must be at least 3 characters long.</div>
            </div>
        </div>
      </div>
      </div>
        <div class="form-group">
            <div class="row">
            <div class="col-lg-3">
          <label for="userroleid">Role <small class="text-danger">*</small></label>
        </div>
        <div class="col-lg-9">
          <select id="userroleid" name="userroleid" [(ngModel)]="userService.user.UserRoleID" #selectElem (change)="setUserRoleID(selectElem.value)" class="form-control">
              <option value="-1">
                  -- Select role for User --
              </option>
              <option *ngFor="let role of roleService.roles" [value]="role.ID">
                  {{role.RoleName}}
              </option>
          </select>
          <div *ngIf="errorUserRole == true" class="alert alert-danger">
            <div *ngIf="errorUserRole">Need to choose a valid.</div>
          </div>
        </div>
      </div>
      </div>

        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-success" [innerHTML]="nameSubmit"></button>
        <button type="button" class="btn btn-secondary" (click)="resetForm(userForm)"><i class="fa fa-eraser"></i> Reset</button>
        <button type="button" class="btn" (click)="testForm(userForm)">Test</button>

      </form>

  </div>

  <div class="form-group">
    <label for="">Result user:</label> {{diagnostic}}
  </div>

</div>